.Title{
  text-align: center;
}
.ContainerPhones{
  display: flex;
  flex-direction: column;
}
body{
  background-color:rgb(72, 72, 221);
  color:whitesmoke;
}
.TechFeatures{
  text-align:justify;
  margin: 50px;
  align-items: center;
  }
  .phoneImage{display:flex;}